[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/zenburn"]
	path = bundle/zenburn
	url = https://github.com/jnurmine/Zenburn.git
