[submodule "src/.vim/bundle/pathogen"]
	path = src/.vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
	branch = master
[submodule "src/.vim/bundle/zenburn"]
	path = src/.vim/bundle/zenburn
	url = https://github.com/jnurmine/Zenburn.git
	branch = master
[submodule "src/.vim/bundle/supertab"]
	path = src/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab
	branch = master
[submodule "src/.vim/bundle/tex--Tanzler"]
	path = src/.vim/bundle/tex--Tanzler
	url = https://github.com/vim-scripts/tex.vim--Tanzler.git
	branch = master
[submodule "src/.vim/bundle/minibufexpl"]
	path = src/.vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
	branch = master
[submodule "src/.vim/bundle/python-pep8-indent"]
	path = src/.vim/bundle/python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
	branch = master
[submodule "src/.vim/bundle/javascript-syntax"]
	path = src/.vim/bundle/javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
	branch = master
[submodule "src/.vim/bundle/javascript"]
	path = src/.vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
	branch = master
